@import '../../styles/_variables.scss';

form {
    flex-basis: calc(940px - 274px);
    display: flex;
    flex-wrap: wrap;

    section:nth-child(1) {
        flex-basis: 80%;
        margin: auto;
        display: grid;
        row-gap: 20px;

        h1 {
            grid-row: 1;
            font-size: 32px;
            font-family: $font-bold;
            color: $marine-blue;
        }

        p {
            grid-row: 2;
            color: $cool-grey;
            font-family: $font-regular;
        }
    }

    section:last-child {
        flex-basis: 80%;
        align-self: end;
        text-align: end;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;

        button[type=submit] {
            font-family: $font-medium;
            cursor: pointer;
            font-size: 18px;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: $marine-blue;
            color: $white;
            border: none;

            &:hover {
                background-color: $purplish-blue;
            }
        }

        a {
            font-family: $font-medium;
            cursor: pointer;
            font-size: 18px;
            border: none;
            background-color: white;
            color: $cool-grey;
            text-decoration: none;

            &:hover {
                color: $marine-blue;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    form {
        justify-content: flex-end;
        display: flex;
        height: 80vh;
        flex-wrap: wrap;

        section:nth-child(1) {
            position: absolute;
            width: 70vw;
            left: 10vw;
            top: 10vh;
        }

        section:nth-child(2n) {

            flex-basis: 100%;
            align-self: end;
            height: 51px;
        }
    }
}