// Fonts
$font-regular: "UbuntuRegular";
$font-bold: "UbuntuBold";
$font-medium: "UbuntuMedium";
// Colors
$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$light-blue: hsl(228, 100%, 84%);
$light-grey: hsl(229, 24%, 87%);
$cool-grey: hsl(231, 11%, 63%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);