@import url('../styles/_variables.scss');

@font-face {
    font-family: "UbuntuBold";
    src: local("UbuntuBold"),
      url("../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  
@font-face {
    font-family: "UbuntuRegular";
    src: local("UbuntuRegular"),
      url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "UbuntuMedium";
    src: local("UbuntuMedium"),
      url("../assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}