@import '../../styles/_variables.scss';

.summaryPage {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(940px - 274px);

    .containerItens {
        margin: 50px;
        background-color: #F8F9FE;
        flex-basis: 100%;

        .contentSidebar {
            display: grid;
            margin: 25px;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            color: #67758D;
            font-family: $font-regular;
            
            *:nth-child(2) {
                text-align: end;
                grid-row: span 2;
                font-size: 16px;
                color: $dark-blue;
                font-family: $font-regular;
            }
            .sidebarTitle {
                font-size: 18px;
                font-family: $font-medium;
                color: $dark-blue;
                margin-bottom: 10px;
            }
            .sidebarValue {
                font-size: 18px;
                font-family: $font-bold;
                color: $dark-blue;
                margin-bottom: 10px;
            }
            a {
                text-decoration: underline;
                font-family: $font-regular;
                color: $grey;
            }
            
        }

        div:nth-child(1) {
            padding-bottom: 25px;
            border-bottom: 1px solid #E8E8FC;
        }
    }

    .containerResult {
        display: flex;
        justify-content: space-between;
        margin: 0px 75px;
        flex-basis: 100%;
        color: #67758D;
        font-family: $font-regular;
        
        p:nth-child(2) {
            font-size: 18px;
            font-family: $font-bold;
            color: #4D46D2;
        }
    }

    div:nth-child(3) {
        margin: 0px 75px;
        flex-basis: 100%;
        max-height: 51px;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        
        button[type=submit] {
            font-family: $font-medium;
            cursor: pointer;
            font-size: 18px;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: $dark-blue;
            color: $white;
            border: none;
        }

        button[type=button] {
            font-family: $font-medium;
            cursor: pointer;
            font-size: 18px;
            border: none;
            background-color: white;
            color: $grey;
            padding: 0px;

            &:hover {
                color: $dark-blue;
            }
        }
    }
}