@import '../../styles/_variables.scss';


.containerAdds {
    display: grid;
    grid-row: 3;

    div {
        position: relative;

        label {
            height: 90px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            border: 1px solid $light-grey;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 15px 15px 15px 70px;
            cursor: pointer;

            :nth-child(1) {
                font-family: $font-bold;
                font-size: 18px;
                color: $marine-blue;
                grid-column: 1;
                grid-row: 1;
            }

            :nth-child(2) {
                font-family: $font-regular;
                font-size: 16px;
                color: $cool-grey;
                grid-column: 1;
                grid-row: 2;
            }

            :nth-child(3) {
                font-family: $font-medium;
                font-size: 16px;
                color: $purplish-blue;
                grid-row: span 2;
                text-align: end;
            }
            &:hover {
                border: 1px solid $purplish-blue;
            }
    
        }

        input[type=checkbox] {
            position: absolute;
            width: 30px;
            height: 90px;
            margin: 0px 20px;
        }

        input[type=checkbox]:checked + label {
            background-color: $alabaster;
            border: 1px solid $light-blue;
        }
    }

    div:nth-child(2n) {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 470px) {
    .containerAdds {
        div {

            label {
                height: 100px;
                grid-template-columns: 1fr 0fr;

                .subTitle {
                    font-size: 14px;
                }
            }
        }
    }
}